.header {
  background-color: #1F466F;
  width: 100%;
  position: fixed;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  height: 40px;
}

.avatar-logo {
  height: 40px;
}

.message-logo {
  height: 40px;
}
